
<table border="1">
  <tr>
    <th>Número</th>
    <th>Nome</th>
  </tr>
  {{#each cartoes}}
    <tr>
      <td>{{this.numero}}</td>
      <td>{{this.nome}}</td>
    </tr>
  {{/each}}
</table>
<a href="/usuarios/{{usuario.id}}/novocartao">Cadastrar Cartão</a>