<h1> Cadastrar Cartão</h1>
<form action="/usuarios/{{usuario.id}}/novoCartao" method="post">

  <div>
    <label for="numero">Número</label>
    <input
      type="text"
      maxlength="16"
      minlength="16"
      id="numero"
      name="numero"
    />
  </div>
  <div>
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome"   maxlength="30" minlength="30" />
  </div>
  <div>
    <label for="codSeguranca">Código de Segurança</label>
    <input type="text" id="codSeguranca" name="codSeguranca" maxlength="3" minlength="3" />
  </div>

  <input type="submit" value="Cadastrar" />

</form>