<h1>Cadastre-se</h1>

<a href="/usuarios/novo">Cadastrar Usuario</a>
<table>
    <tr>
        <td>ID</td>
        <td>NickName</td>
        <td>Nome</td>
        <th>Ações</th>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nickname}}</td>
        <td>{{this.nome}}</td>
        <td>
            <a href="/usuarios/{{this.id}}/atualizar">Atualizar</a>
        </td>
    </tr>
    {{/each}}
</table>