<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action= "/jogos/novo" method = "post">
        
        <div>
           <label for="id">Id:</label>
           <input type="text" id="id" name="id"/>
        </div>
    
        <div>
           <label for="titulo">titulo:</label>
           <input type="text" id="titulo" name="titulo"/> 
        </div>
    
        <div>
           <label for="descricao">Descrição:</label>
           <input type="text" id="descricao" name="descricao"/> 
         </div>

         <div>
            <label for="precoBase">Preço:</label>
            <input type="text" id="preco" name="preco"/> 
          </div>
    
        <input type="submit" value="Cadastrar"/>
    </form>
</body>

</html>